.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.relative{
  position: relative;
}
.absolute50{
  position: absolute;
  position: absolute;
  top: 13em;
  left: 33em;
}

.cbutton{
  box-shadow: 7px 0px 337px 24px rgba(184,87,87,0.75);
-webkit-box-shadow: 7px 0px 337px 24px rgba(184,87,87,0.75);
-moz-box-shadow: 7px 0px 337px 24px rgba(184,87,87,0.75);
height: 6em;
    width: 17em;
}